* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h1 {
    line-height:1.4;
    margin-bottom: 10px;
}

.container {
    display: flex;
    height: 55%;
    width: 90%;
    background-color: #150E56;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.content p {
    line-height: 1.6;
    font-size: 14px;
    margin-top: 10px;
}

span {
    color: #AA2EE6;
}

.numbers {
    display: flex;
    justify-content: flex-start;
}
.numbers-item{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-right: 50px;
}


.image {
    background: url("/images/image-header-desktop.jpg") no-repeat center;
    width: 100%;
}

.attribution {
    margin-top: 50px;
    color: #333;
}
a {
    color: #333;
}